<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Resource</title>
    <!--管理员资源-->
    <div th:fragment="admin_resource">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script th:src="@{/js/admin.js}"></script>
    </div>
    <!--公共页资源-->
    <div th:fragment="common_resource">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
    </div>
</head>
<body>

</body>
</html>