<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>管理员首页</title>
    <!--此处是共用模块的资源部分-->
    <div th:replace="common/resource :: admin_resource"></div>
</head>
<body>
<!--此处是共用模块的页头部分-->
<div th:replace="common/header :: admin_header"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">

                <div class="col-md-3 column">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">管理员界面</h3>
                        </div>
                        <div class="panel-body">
                            当前时间为
                        </div>
                        <div class="panel-footer">
                            Panel footer
                        </div>
                    </div>
                </div>
                <div class="col-md-9 column">
                    <div class="jumbotron">
                        <h1>Hello, world!</h1>
                        <p>...</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common/footer :: common_footer"></div>
    </div>
</div>
</body>
</html>