<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gdut.auto.mappers.ActivityRecordMapper" >
  <resultMap id="BaseResultMap" type="edu.gdut.auto.pojo.ActivityRecord" >
    <id column="acr_id" property="acrId" jdbcType="INTEGER" />
    <result column="acr_activity_id" property="acrActivityId" jdbcType="INTEGER" />
    <result column="acr_stu_id" property="acrStuId" jdbcType="BIGINT" />
    <result column="acr_state" property="acrState" jdbcType="TINYINT" />
    <result column="acr_reason" property="acrReason" jdbcType="VARCHAR" />
    <result column="acr_add_time" property="acrAddTime" jdbcType="TIMESTAMP" />
    <result column="acr_update" property="acrUpdate" jdbcType="TIMESTAMP" />
    <result column="acr_reply" property="acrReply" jdbcType="VARCHAR" />
    <result column="acr_check" property="acrCheck" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    acr_id, acr_activity_id, acr_stu_id, acr_state, acr_reason, acr_add_time, acr_update, 
    acr_reply, acr_check
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_record
    where acr_id = #{acrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_record
    where acr_id = #{acrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.gdut.auto.pojo.ActivityRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="acrId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_record (acr_activity_id, acr_stu_id, acr_state, 
      acr_reason, acr_add_time, acr_update, 
      acr_reply, acr_check)
    values (#{acrActivityId,jdbcType=INTEGER}, #{acrStuId,jdbcType=BIGINT}, #{acrState,jdbcType=TINYINT}, 
      #{acrReason,jdbcType=VARCHAR}, #{acrAddTime,jdbcType=TIMESTAMP}, #{acrUpdate,jdbcType=TIMESTAMP}, 
      #{acrReply,jdbcType=VARCHAR}, #{acrCheck,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.gdut.auto.pojo.ActivityRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="acrId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activity_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acrActivityId != null" >
        acr_activity_id,
      </if>
      <if test="acrStuId != null" >
        acr_stu_id,
      </if>
      <if test="acrState != null" >
        acr_state,
      </if>
      <if test="acrReason != null" >
        acr_reason,
      </if>
      <if test="acrAddTime != null" >
        acr_add_time,
      </if>
      <if test="acrUpdate != null" >
        acr_update,
      </if>
      <if test="acrReply != null" >
        acr_reply,
      </if>
      <if test="acrCheck != null" >
        acr_check,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acrActivityId != null" >
        #{acrActivityId,jdbcType=INTEGER},
      </if>
      <if test="acrStuId != null" >
        #{acrStuId,jdbcType=BIGINT},
      </if>
      <if test="acrState != null" >
        #{acrState,jdbcType=TINYINT},
      </if>
      <if test="acrReason != null" >
        #{acrReason,jdbcType=VARCHAR},
      </if>
      <if test="acrAddTime != null" >
        #{acrAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acrUpdate != null" >
        #{acrUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="acrReply != null" >
        #{acrReply,jdbcType=VARCHAR},
      </if>
      <if test="acrCheck != null" >
        #{acrCheck,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gdut.auto.pojo.ActivityRecord" >
    update activity_record
    <set >
      <if test="acrActivityId != null" >
        acr_activity_id = #{acrActivityId,jdbcType=INTEGER},
      </if>
      <if test="acrStuId != null" >
        acr_stu_id = #{acrStuId,jdbcType=BIGINT},
      </if>
      <if test="acrState != null" >
        acr_state = #{acrState,jdbcType=TINYINT},
      </if>
      <if test="acrReason != null" >
        acr_reason = #{acrReason,jdbcType=VARCHAR},
      </if>
      <if test="acrAddTime != null" >
        acr_add_time = #{acrAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acrUpdate != null" >
        acr_update = #{acrUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="acrReply != null" >
        acr_reply = #{acrReply,jdbcType=VARCHAR},
      </if>
      <if test="acrCheck != null" >
        acr_check = #{acrCheck,jdbcType=TINYINT},
      </if>
    </set>
    where acr_id = #{acrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gdut.auto.pojo.ActivityRecord" >
    update activity_record
    set acr_activity_id = #{acrActivityId,jdbcType=INTEGER},
      acr_stu_id = #{acrStuId,jdbcType=BIGINT},
      acr_state = #{acrState,jdbcType=TINYINT},
      acr_reason = #{acrReason,jdbcType=VARCHAR},
      acr_add_time = #{acrAddTime,jdbcType=TIMESTAMP},
      acr_update = #{acrUpdate,jdbcType=TIMESTAMP},
      acr_reply = #{acrReply,jdbcType=VARCHAR},
      acr_check = #{acrCheck,jdbcType=TINYINT}
    where acr_id = #{acrId,jdbcType=INTEGER}
  </update>
</mapper>